.home-page {
    display: flex;
    justify-content: space-between;
}

.home-content {
    width: 60%;
}

.programs-list {
    margin-left: 20px;
    width: 35%;
}

.programs-list h2 {
    font-size: 1.5em;
}

.programs-list ul {
    list-style-type: none;
    padding: 0;
}

.programs-list li {
    margin-bottom: 8px;
}
